PORT=5000
# Local MongoDB (development)
# MONGODB_URI=mongodb://localhost:27017/document-management

# MongoDB Atlas (production/cloud)
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=AppName

JWT_SECRET=your-secret-key-change-this-in-production
NODE_ENV=development
UPLOAD_DIR=./uploads

